<!DOCTYPE html>
<html ng-app="toDoList">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
    <script src="controllers.js"></script>
  </head>
  <body>
    <div>
      <div>
        {{ "Frooms" | greet }}
      </div>
      <div ng-controller="ToDoController as controller">
        <h1 ng-repeat="todo in controller.todos">{{ todo.ToDo }}: {{ todo.done ? "completed" : "not completed" }}</h1>
        <button ng-click='controller.addToDo(harrrooo)'>Freemy FreemFreems</button>
        <button ng-click='controller.removeToDo()'>Froomy FroomFrooms</button>
        <input ng-model='harrrooo' placeholder="Buffroooms"></input>
      </div>
    </div>
  </body>
</html>
